@import 'jeet'

.section
    padding 100px 0

// nav img
//     col(1/3, cycle:1)

// nav ul
//     col(2/3, cycle:2)

nav li a
    +below(900px)
        line-height 36px
        font-size 14px
        padding 3px 3px
    +below(700px)
        line-height 24px
    +below(480px)
        span(1/6)

#home
    padding 160px 0 120px 0

#home h1
    font-size 72px
    line-height 84px
    font-weight bold
    color #49a7e9

#music img
    display block
    margin-left auto
    margin-right auto

#register
    padding-top 200px

#venues
    .left
        col(2/5)
        margin-bottom 30px
        +below(680px)
            stack()
            padding 10px 0
    .right
        col(3/5)
        +below(680px)
            stack()
            padding 10px 0

hr
    color white
    border-color white
    margin-top 10px

.dj
    span(1/3)
    padding-right 10px
    padding-left 10px
    +below(680px)
        stack()
        padding 10px 0
