.section
    padding 100px 0

nav li a
    +below(900px)
        line-height 36px
        font-size 14px
        padding 3px 3px
    +below(640px)
        line-height 24px

#home
    padding 160px 0 120px 0

#home h1
    font-size 72px
    font-weight bold
    color #49a7e9

#music img
    margin-left auto
    margin-right auto
    width 75%

// #home img
//     max-height 200px

// .dj
//     col(1/3, cycle: 3)


